.vscode/**
.vscode-test/**

# only keep icon
img/**
!img/icon.png

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# only include out/main.js built by esbuild
out/**
!out/main.min.js

# ignore all dependencies since we use esbuild to bundle them
node_modules/**