.vscode/**
.vscode-test/**

# only keep icon
img/**
!img/icon.png

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

out/**

# ignore all dependencies since we use esbuild to bundle them
node_modules/**